/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 10.28.53
    Author     : Simone Genovesi
*/

body {
    background-color: white;
    background-color: grey;
    font-family: serif;
    color: black;
}

    
p {
    text-align: justify;
}

h1, h2, h3 {
    color: yellowgreen;
    
}

a:link {
    text-decoration: underline;
}

a:visited {
    
}

a:hover {
    
}

a:active {
    
}
